In [1]:
import numpy as np
import pandas as pd

In [10]:
data = []
with open ("data.txt") as f:
    for line in f:
        if line[0] == "(":
            data.append(line[1:-4] + ", 0\n")
with open("processed.txt", "w") as p:
    p.writelines(data)

279, 66, 385, 654, 172, 77, 86, 195, 0

                                       0
0    279, 66, 385, 654, 172, 77, 86, 195
1    363, 80, 539, 722, 162, 79, 98, 221
2    354, 97, 606, 787, 128, 86, 99, 241
3   382, 113, 644, 806, 138, 89, 98, 247
4  343, 122, 695, 907, 151, 89, 102, 245